.Slides{
    width: 100%;
}

.Image{
    width: 85%;
    height: 450px;
    margin: 0px auto;
}

.h3{
  color: white;
  font-size: 35px;
  font-weight: 700;
}

@media (max-width:540px){
  .Slides{
    width: 100%;
}

.Image{
    width: 80%;
    height: 300px;
    margin: 0px auto;
}

.h3{
  color: white;
  font-size: 20px;
  font-weight: 550;
}
}