.Icons{
    display: flex;
    width: 85%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.icon{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}
.icon p{
    font-size: 22px;
    font-weight: 700;
    margin: 20px 0;
    
}

.image{
    width: 80%;
    margin: 5px;
}

@media (max-width:540px){
    .Icons{
        width: 85%;
    }
    
    .icon{
        width: 30%;
        margin: 10px;
    }
    .icon p{
        font-size: 15px;
        font-weight: 550;
        margin: 10px 0;
        padding: 2px;
    }
    
    .image{
        width: 70%;
        margin: 3px;
    }
}