.Languages{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.heading{
   font-size: 30px;
   font-weight: 700;
   display: flex;
   justify-content: center;
   margin: 20px;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:540px){
    
    .heading{
        font-size: 20px;
    }
}
